.carousel {       
  color: #000000;   
  font-size: 20px;
}

.full-width-image {
   width: 200vw;
   position: relative;
   left: 50%;  
   margin-left: -42vw;
}

.full-width-image img {
  width: 100%;
  height: 500px;
}


.card{
  font-size: 20px;
}




body{
 

}
